/*==========  section footer ==========*/
footer {
  color: #0F3E4B;
  padding: 0 0 108px; }
  footer .logo {
    max-width: 211px; }
  footer .btn {
    padding: 16px 52px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 25px;
  margin: 0 auto; }
  .address-icon {
    width: 32px;
    min-width: 32px;
    height: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 16px 0 0;
    fill: #4AC0B3; }
  .address-text {
    max-width: 376px; }

.footer-top {
  padding: 64px 0 27px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #4AC0B3; }

.footer-contacts .phone {
  font-size: 24px;
  font-weight: bold;
  color: #0F3E4B;
  line-height: 35px; }
  .footer-contacts .phone span {
    font-size: 36px;
    line-height: 53px; }
  .footer-contacts .phone:hover {
    color: #4AC0B3; }

.phone-reserve {
  font-size: 20px;
  line-height: 29px;
  color: #4AC0B3; }
  .phone-reserve:hover {
    color: #0F3E4B; }

.schedule {
  margin: 0 109px 0 26px;
  font-size: 20px;
  line-height: 29px; }
  .schedule p {
    text-transform: uppercase;
    font-weight: bold; }

.footer-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mail {
  color: #0F3E4B;
  font-size: 20px;
  line-height: 29px;
  margin: 0 184px 0 auto; }
  .mail:hover {
    color: #4AC0B3; }

.publication {
  color: #4AC0B3;
  max-width: 538px;
  width: 100%;
  font-size: 12px;
  line-height: 18px; }

.menu-document {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px; }
  .menu-document li {
    margin: 0 50px 0 0; }
    .menu-document li:last-child {
      margin: 0; }
    .menu-document li a {
      color: #4AC0B3; }
      .menu-document li a:hover {
        color: #0F3E4B; }

/*==========  section footer end  ==========*/
/*==========  section modal ==========*/
.modal-dialog {
  max-width: 400px; }

.modal-header {
  padding: 0;
  border: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px; }
  .modal-header .btn-close {
    z-index: 1;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
      border-radius: 0;
    top: 20px;
    right: 20px;
    position: absolute;
    background: transparent;
    opacity: 1; }
    .modal-header .btn-close:before, .modal-header .btn-close:after {
      content: '';
      border: none;
      position: absolute;
      top: 0;
      left: 7px;
      width: 2px;
      height: 100%;
      border-radius: 3px;
      background: #0F3E4B; }
    .modal-header .btn-close:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .modal-header .btn-close:after {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }

.modal-title {
  font-family: "Lugatype", sans-serif;
  text-align: center;
  margin: 0 auto;
  color: #0F3E4B;
  font-size: 26px; }

.modal-body {
  padding: 0; }

.modal-content {
  padding: 30px; }

.form input {
  border-color: #4AC0B3;
  color: #0F3E4B; }
  .form input::-webkit-input-placeholder {
    color: #0F3E4B; }
  .form input::-moz-placeholder {
    color: #0F3E4B; }
  .form input::-ms-input-placeholder {
    color: #0F3E4B; }
  .form input::placeholder {
    color: #0F3E4B; }

.form label {
  max-width: none; }

.form button {
  margin: 20px auto 0; }

/*==========  section modal end  ==========*/
