/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1550px) {
  .callback h2 {
    font-size: 100px;
    line-height: 1;
    max-width: 577px; } }

@media only screen and (max-width: 1450px) {
  .address {
    font-size: 20px; }
    .address-text {
      max-width: 306px; }
  .schedule {
    margin: 0 30px 0 20px;
    font-size: 18px; }
  .mail {
    margin: 0 auto; }
  .footer-contacts .phone span {
    font-size: 30px;
    line-height: 1; }
  footer .btn {
    padding: 12px 30px; }
  .callback-wrapper {
    padding: 40px; }
    .callback-wrapper h2 {
      font-size: 74px;
      max-width: 420px;
      margin: 0; }
  .documents-box {
    padding: 20px; }
    .documents-box__title {
      font-size: 24px;
      line-height: 1; }
    .documents-box__icon {
      margin: 0 14px 0 0; }
  .date {
    font-size: 18px;
    margin: 15px 0; }
  .btn-accent {
    padding: 8px 25px; }
  .news-card__title {
    font-size: 24px;
    line-height: 1; }
  .news-card__img {
    height: 300px; }
  .layouts-card {
    padding: 30px 20px;
    min-height: 500px;
    font-size: 26px;
    line-height: 1; }
  .district-infrastructure-item {
    margin: 0 0 24px;
    line-height: 1; }
    .district-infrastructure-item p {
      font-size: 22px;
      line-height: 1; }
  h2 {
    line-height: 1;
    margin: 0 0 30px; }
  .layouts h2 {
    margin: 0 0 30px; }
  .advantages-box h3 {
    font-size: 26px;
    line-height: 1; }
  .advantages-box__content {
    padding: 30px 20px; }
  .advantages-box .box-text {
    font-size: 20px;
    line-height: 1; }
  .advantages-box .btn {
    padding: 10px 15px; }
  .about-tabs__content-image {
    max-width: 450px;
    height: 500px; }
  .about-tabs__content h3 {
    font-size: 30px;
    line-height: 1;
    margin: 0 0 20px; }
  .about-tabs__content-description {
    width: calc(100% - 450px);
    max-width: none; }
  .about-tabs {
    margin: 60px 0 0; }
  .about-slider-nav {
    line-height: 55px;
    font-size: 20px; }
  .home-content {
    margin: 0;
    min-width: auto; }
  .home .mortgage {
    margin: -130px auto 0; }
  h1 {
    font-size: 100px;
    line-height: .9; } }

@media only screen and (max-width: 1300px) {
  .nav-tabs .nav-link {
    padding: 10px 20px; }
  .nav-tabs {
    margin: 15px 0 20px; }
  .about-tabs {
    line-height: normal; }
  .about-slider-nav {
    line-height: normal;
    font-size: 18px; }
    .about-slider-nav .slick-slide {
      margin: 0 0 20px; }
      .about-slider-nav .slick-slide:last-child {
        margin: 0; }
  header .address {
    margin: 0 30px; }
  header .btn {
    padding: 13px 40px; }
  .start-sales {
    font-size: 30px;
    line-height: 1; }
  .home-content {
    padding: 30px 40px 160px; }
  h1 {
    font-size: 70px;
    line-height: .8; }
  .readiness-stage {
    font-size: 24px; }
    .readiness-stage p {
      font-size: 40px; }
  .about .btn {
    padding: 15px 30px; } }

@media only screen and (max-width: 1200px) {
  footer {
    padding: 0 0 30px; }
    footer .logo {
      max-width: 160px; }
    footer .btn {
      padding: 10px 25px; }
  .footer-top {
    padding: 30px 0 20px; }
  .publication {
    max-width: 370px; }
  .address {
    font-size: 16px;
    line-height: 1.2; }
    .address-text {
      max-width: 247px; }
    .address-icon {
      width: 28px;
      height: 30px;
      min-width: 28px;
      margin: 0 10px 0 0; }
  .schedule {
    font-size: 16px;
    line-height: 1.4;
    margin: 0 20px; }
  .phone-reserve {
    font-size: 18px; }
  .footer-contacts .phone {
    font-size: 20px; }
    .footer-contacts .phone span {
      font-size: 26px;
      line-height: 1; }
  .mail {
    font-size: 18px; }
  .menu-document li {
    margin: 0 30px 0 0; }
  .callback {
    margin: 50px 0; }
    .callback h2 {
      max-width: none;
      margin: 0 auto 20px;
      text-align: center; }
  .mortgage {
    margin: 0 auto; }
  .stages-work-item {
    height: 270px;
    font-size: 20px; }
  .stages-work .tab-content {
    padding: 0 0 40px; }
  .district-infrastructure {
    margin: 0 0 60px; }
  .about {
    margin: 60px 0 50px; }
    .about h2 span {
      font-size: 70px;
      line-height: 1; }
  .about-tabs__content {
    padding: 20px; }
    .about-tabs__content-image {
      max-width: 400px; }
    .about-tabs__content-description {
      width: calc(100% - 400px); }
  header .address {
    display: none; }
  header .footer-contacts {
    margin: 0 auto; }
    header .footer-contacts .phone span {
      font-size: 30px;
      line-height: 1.4; }
  header .phone-reserve {
    margin: 0;
    font-size: 18px; }
  .mobile-menu__close {
    margin: 0 0 20px auto; }
  .home .mortgage {
    border-radius: 20px;
    padding: 30px; }
    .home .mortgage h3 {
      text-align: center;
      font-size: 30px; }
  .home .form-mortgage label {
    max-width: none;
    width: 100%; }
  .home .form-mortgage button {
    margin: 0 auto; }
  .home .form-group {
    width: 100%;
    margin: 0 0 12px; }
  .home-content {
    max-width: none;
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px 160px; }
  .info-item {
    font-size: 20px;
    line-height: normal;
    margin: 0 20px 10px 0; }
  .start-sales-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  h1 {
    font-size: 60px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .publication {
    text-align: center;
    width: 100%;
    max-width: 450px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 10px auto 0; }
  .menu-document {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0 0; }
  .schedule {
    margin: 0 auto; }
  footer .address {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 10px; }
  footer .logo {
    margin: 0 auto 10px;
    max-width: none; }
    footer .logo img {
      max-width: 211px; }
  h2 {
    font-size: 40px;
    line-height: 1; }
  .title-wrapper {
    margin: 0 0 30px; }
  .btn-toggle {
    padding: 12px 25px; }
  .slick-arrow {
    width: 40px;
    height: 40px;
    padding: 12px; }
  .stages-work-slider {
    margin: -60px 0 0; }
  .news {
    margin: 40px 0 0; }
  .nav-tabs {
    font-size: 16px; }
    .nav-tabs .nav-item {
      margin-right: 10px; }
    .nav-tabs .nav-link {
      padding: 8px 14px; }
  .layouts h2 {
    margin: 0 0 20px; }
  .box-text p {
    margin: 0 0 20px; }
    .box-text p:last-child {
      margin: 0; }
  .layouts-card {
    font-size: 24px; }
  .district-infrastructure h2 {
    margin: 0 0 20px; }
  .advantages {
    margin: 0 0 50px; }
  .about-content {
    max-width: none;
    margin: 30px 0 0; }
  .about .btn {
    margin: 30px auto 0;
    padding: 14px 24px; }
  .about h2 {
    font-size: 30px; }
    .about h2 span {
      font-size: 50px; }
  .about .box-text {
    margin: 10px 0 20px; }
  .about-tabs .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    line-height: 1.2;
    margin: 0 0 20px; }
    .about-tabs .nav-tabs .nav-link {
      padding: 0; }
    .about-tabs .nav-tabs .nav-item {
      margin: 0 30px 10px 0; }
      .about-tabs .nav-tabs .nav-item:last-child {
        margin: 0 0 10px; }
  .about-tabs .tab-content {
    margin: 30px 0 0; }
  .about-slider-nav {
    font-size: 20px; }
    .about-slider-nav .slick-slide {
      margin: 0 20px 0 0; }
      .about-slider-nav .slick-slide:last-child {
        margin: 0 20px 0 0; }
  .header-logo {
    padding: 10px 14px 14px; }
  header {
    padding: 20px 0; }
  .mobile-menu {
    height: calc(100% - 121px);
    top: 121px; }
  .readiness-stage {
    margin: 30px auto 0;
    font-size: 20px;
    line-height: 1;
    padding: 10px 30px; }
    .readiness-stage p {
      font-size: 30px;
      line-height: 1; }
    .readiness-stage span {
      max-width: 100px; }
  .home {
    border-radius: 0;
    padding: 300px 0 70px;
    background: url("../img/home-bg-mobile.jpg") no-repeat center;
      background-size: cover; }
    .home .mortgage {
      display: none; }
  .home-content {
    padding: 30px; }
    .home-content .btn {
      margin: 20px auto 0; }
  h1 {
    font-size: 40px;
    margin: 0 auto 20px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .callback-wrapper {
    padding: 30px; }
  .callback h2 {
    font-size: 60px; }
  .mortgage {
    padding: 30px;
    border-radius: 30px; }
    .mortgage h3 {
      font-size: 26px;
      text-align: center; }
  .form-mortgage label {
    max-width: 100%;
    width: 100%; }
  .form-mortgage .form-group {
    width: 100%;
    margin: 0 0 20px; }
    .form-mortgage .form-group:last-child {
      margin: 0; }
  .form-mortgage button {
    margin: 0 auto; }
  .stages-work-slider {
    padding: 0;
    margin: 0; }
    .stages-work-slider .slick-arrow {
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      border-color: #fff;
      stroke: #fff; }
    .stages-work-slider .slick-prev {
      right: auto;
      left: 5px; }
    .stages-work-slider .slick-next {
      right: 5px; }
  .nav-tabs .nav-item {
    margin-bottom: 10px; }
    .nav-tabs .nav-item:last-child {
      margin-bottom: 10px; }
  .district-infrastructure-item {
    font-size: 16px; }
    .district-infrastructure-item p {
      font-size: 18px; }
  .district-infrastructure__map {
    height: 500px;
    margin: 20px 0 0; }
  .about-tabs__content-description {
    width: 1005px;
    padding: 0;
    margin: 0 0 20px; }
    .about-tabs__content-description .box-text {
      margin-bottom: 0; }
  .about-tabs__content h3 {
    font-size: 24px; }
  .about-tabs__content-image {
    max-width: none;
    height: auto; }
  header .footer-contacts {
    display: none; }
  .header-logo {
    margin: 0 auto 0 0; }
  .info-item {
    font-size: 20px;
    line-height: 1.2;
    margin-right: 20px; }
  h1 {
    font-size: 50px;
    margin: 0 auto 30px; }
  .layouts-card {
    min-height: 350px; }
    .layouts-card__plane {
      height: 180px; }
      .layouts-card__plane img {
        max-height: 100%; }
    .layouts-card__title {
      margin: 0 auto 20px; }
    .layouts-card .btn {
      padding: 10px 20px; }
  .layouts-slider, .advantages-slider {
    margin: 0;
    display: block; }
    .layouts-slider > *, .advantages-slider > * {
      padding: 0; }
    .layouts-slider .slick-slide, .advantages-slider .slick-slide {
      margin: 0 10px 0 0;
      width: 235px; }
  .slick-arrow-my {
    position: absolute;
    padding: 10px;
    top: 50%;
    background: #fff;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    .slick-arrow-my.slick-prev {
      left: 0; }
    .slick-arrow-my.slick-next {
      right: 0;
      left: auto; }
  .advantages-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .advantages-slider .slick-slide {
    width: 280px;
    height: auto; }
  .advantages-slider .slick-arrow-my {
    top: auto;
    bottom: 0;
    -webkit-transform: none;
            transform: none; }
    .advantages-slider .slick-arrow-my.slick-prev {
      left: calc(50% - 50px); }
    .advantages-slider .slick-arrow-my.slick-next {
      right: calc(50% - 50px); }
  .advantages-box {
    min-height: auto;
    height: 100%; }
    .advantages-box .box-text {
      opacity: 1;
      height: auto; }
    .advantages-box:before {
      background: -webkit-gradient(linear, left bottom, left top, from(#0F3E4B), color-stop(47.42%, rgba(15, 62, 75, 0)));
      background: linear-gradient(360deg, #0F3E4B 0%, rgba(15, 62, 75, 0) 47.42%); }
    .advantages-box:hover:before {
      background: -webkit-gradient(linear, left bottom, left top, from(#0F3E4B), color-stop(47.42%, rgba(15, 62, 75, 0)));
      background: linear-gradient(360deg, #0F3E4B 0%, rgba(15, 62, 75, 0) 47.42%); }
    .advantages-box:hover .advantages-box__bg {
      -webkit-transform: none;
              transform: none; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  footer .footer-contacts {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px auto 10px; }
  .schedule {
    margin: 0 auto 0 0; }
  .menu-document {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center; }
    .menu-document li {
      width: 100%;
      margin: 0 auto 5px; }
    .menu-document a {
      margin: 0 auto; }
  .callback h2 {
    font-size: 40px; }
  .mortgage {
    padding: 20px; }
    .mortgage h3 {
      font-size: 22px; }
  .form-mortgage .btn {
    padding: 10px 20px; }
  .btn {
    font-size: 16px; }
  input, textarea, select {
    font-size: 16px;
    padding: 0 20px; }
  .callback-wrapper {
    padding: 15px; }
  .documents h2 {
    width: 100%;
    margin: 0 0 10px; }
  .documents-box {
    padding: 0;
    background: transparent;
    border-radius: 0; }
    .documents-box .date {
      margin: 10px 0; }
    .documents-box__title {
      font-size: 20px; }
  .news-card__title {
    font-size: 20px; }
  .date {
    line-height: 1; }
  .advantages-box .box-text {
    font-size: 18px; }
  .advantages-box h3 {
    font-size: 20px; }
  .header-logo {
    max-width: 150px; }
  header .btn {
    padding: 8px 20px;
    margin: 0 20px 0 0; }
  .btn-burger {
    width: 30px;
    height: 24px; }
    .btn-burger span {
      height: 3px; }
    .btn-burger.open span {
      top: 10px; }
  .info-item {
    margin-right: 0;
    font-size: 16px; }
  .start-sales {
    font-size: 24px; }
  .start-sales-info {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .modal-dialog {
    margin: 10px auto; }
  .mobile-menu {
    height: calc(100% - 96px);
    top: 96px; }
  h1 {
    font-size: 30px;
    margin: 0 auto 20px; }
  .home-content {
    padding: 30px 20px;
    background: rgba(74, 192, 179, 0.7);
    -webkit-backdrop-filter: none;
            backdrop-filter: none; }
  .btn-all {
    margin: 0 auto;
    width: 100%; }
  .about-image {
    height: auto; }
  .about .btn {
    margin: 20px auto 0; }
  .district-infrastructure__map {
    height: 400px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  header .btn {
    display: none; }
  .home {
    padding: 300px 0 50px; }
  .start-sales {
    font-size: 24px; }
  .info-item {
    font-size: 14px; }
    .info-item p {
      font-size: 16px; } }

@media only screen and (max-width: 350px) {
  .schedule {
    width: 100%;
    text-align: center;
    margin: 0 auto 10px; }
  footer .btn {
    margin: 0 auto; }
  .news-card__img {
    height: 260px; } }
